<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.flycast">
		<category id="general" label="128">
			<group id="1">
				<setting id="reicast_boot_to_bios" type="string" label="30001" help="30071">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_system" type="string" label="30002">
					<level>0</level>
					<default>auto</default>
					<constraints>
						<options>
							<option label="30072">auto</option>
							<option label="30073">dreamcast</option>
							<option label="30074">naomi</option>
							<option label="30075">atomiswave</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_hle_bios" type="string" label="30003" help="30076">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_alpha_sorting" type="string" label="30007">
					<level>0</level>
					<default>per-triangle (normal)</default>
					<constraints>
						<options>
							<option label="30077">per-strip (fast, least accurate)</option>
							<option label="30078">per-triangle (normal)</option>
							<option label="30079">per-pixel (accurate)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_gdrom_fast_loading" type="string" label="30008" help="30080">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_region" type="string" label="30017">
					<level>0</level>
					<default>Default</default>
					<constraints>
						<options>
							<option>Default</option>
							<option>Japan</option>
							<option>USA</option>
							<option>Europe</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_language" type="string" label="30018">
					<level>0</level>
					<default>Default</default>
					<constraints>
						<options>
							<option>Default</option>
							<option>Japanese</option>
							<option>English</option>
							<option>German</option>
							<option>French</option>
							<option>Spanish</option>
							<option>Italian</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_div_matching" type="string" label="30019" help="30081">
					<level>0</level>
					<default>auto</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option label="30072">auto</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_force_wince" type="string" label="30020" help="30082">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_enable_dsp" type="string" label="30024" help="30083">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_threaded_rendering" type="string" label="30031" help="30084">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_synchronous_rendering" type="string" label="30032" help="30085">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_allow_service_buttons" type="string" label="30036" help="30086">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_enable_naomi_15khz_dipswitch" type="string" label="30037" help="30087">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="video" label="30088" help="30089">
			<group id="1">
				<setting id="reicast_oit_abuffer_size" type="string" label="30004" help="30090">
					<level>0</level>
					<default>512MB</default>
					<constraints>
						<options>
							<option>512MB</option>
							<option>1GB</option>
							<option>2GB</option>
							<option>4GB</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_internal_resolution" type="string" label="30005" help="30091">
					<level>0</level>
					<default>640x480</default>
					<constraints>
						<options>
							<option>320x240</option>
							<option>640x480</option>
							<option>800x600</option>
							<option>960x720</option>
							<option>1024x768</option>
							<option>1280x960</option>
							<option>1440x1080</option>
							<option>1600x1200</option>
							<option>1920x1440</option>
							<option>2560x1920</option>
							<option>2880x2160</option>
							<option>3200x2400</option>
							<option>3840x2880</option>
							<option>4480x3360</option>
							<option>5120x3840</option>
							<option>5760x4320</option>
							<option>6400x4800</option>
							<option>7040x5280</option>
							<option>7680x5760</option>
							<option>8320x6240</option>
							<option>8960x6720</option>
							<option>9600x7200</option>
							<option>10240x7680</option>
							<option>10880x8160</option>
							<option>11520x8640</option>
							<option>12160x9120</option>
							<option>12800x9600</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_screen_rotation" type="string" label="30006">
					<level>0</level>
					<default>horizontal</default>
					<constraints>
						<options>
							<option label="30092">horizontal</option>
							<option label="30093">vertical</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_mipmapping" type="string" label="30009">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_fog" type="string" label="30010">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_volume_modifier_enable" type="string" label="30011" help="30094">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_cable_type" type="string" label="30014" help="30095">
					<level>0</level>
					<default>TV (Composite)</default>
					<constraints>
						<options>
							<option>TV (RGB)</option>
							<option>TV (Composite)</option>
							<option>VGA (RGB)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_broadcast" type="string" label="30015">
					<level>0</level>
					<default>Default</default>
					<constraints>
						<options>
							<option>Default</option>
							<option label="30096">PAL_M</option>
							<option label="30097">PAL_N</option>
							<option>NTSC</option>
							<option label="30098">PAL</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_framerate" type="string" label="30016" help="30099">
					<level>0</level>
					<default>fullspeed</default>
					<constraints>
						<options>
							<option label="30100">fullspeed</option>
							<option label="30101">normal</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_anisotropic_filtering" type="string" label="30025" help="30102">
					<level>0</level>
					<default>4</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>2</option>
							<option>4</option>
							<option>8</option>
							<option>16</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_pvr2_filtering" type="string" label="30026" help="30103">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_texupscale" type="string" label="30027" help="30104">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>2x</option>
							<option>4x</option>
							<option>6x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_texupscale_max_filtered_texture_size" type="string" label="30028">
					<level>0</level>
					<default>256</default>
					<constraints>
						<options>
							<option>256</option>
							<option>512</option>
							<option>1024</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_enable_rttb" type="string" label="30029">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_render_to_texture_upscaling" type="string" label="30030">
					<level>0</level>
					<default>1x</default>
					<constraints>
						<options>
							<option>1x</option>
							<option>2x</option>
							<option>3x</option>
							<option>4x</option>
							<option>8x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_delay_frame_swapping" type="string" label="30033" help="30105">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_frame_skipping" type="string" label="30034" help="30106">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_custom_textures" type="string" label="30038">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_dump_textures" type="string" label="30039">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="input" label="30107" help="30108">
			<group id="1">
				<setting id="reicast_analog_stick_deadzone" type="string" label="30021">
					<level>0</level>
					<default>15%</default>
					<constraints>
						<options>
							<option>0%</option>
							<option>5%</option>
							<option>10%</option>
							<option>15%</option>
							<option>20%</option>
							<option>25%</option>
							<option>30%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_trigger_deadzone" type="string" label="30022">
					<level>0</level>
					<default>0%</default>
					<constraints>
						<options>
							<option>0%</option>
							<option>5%</option>
							<option>10%</option>
							<option>15%</option>
							<option>20%</option>
							<option>25%</option>
							<option>30%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_digital_triggers" type="string" label="30023">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_enable_purupuru" type="string" label="30035" help="30109">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_show_lightgun_settings" type="string" label="30066" help="30110">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_lightgun1_crosshair" type="string" label="30067">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>White</option>
							<option>Red</option>
							<option>Green</option>
							<option>Blue</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_lightgun2_crosshair" type="string" label="30068">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>White</option>
							<option>Red</option>
							<option>Green</option>
							<option>Blue</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_lightgun3_crosshair" type="string" label="30069">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>White</option>
							<option>Red</option>
							<option>Green</option>
							<option>Blue</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_lightgun4_crosshair" type="string" label="30070">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>White</option>
							<option>Red</option>
							<option>Green</option>
							<option>Blue</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="vmu" label="30111" help="30112">
			<group id="1">
				<setting id="reicast_per_content_vmus" type="string" label="30040" help="30113">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>VMU A1</option>
							<option>All VMUs</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_show_vmu_screen_settings" type="string" label="30041" help="30114">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu1_screen_display" type="string" label="30042">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu1_screen_position" type="string" label="30043">
					<level>0</level>
					<default>Upper Left</default>
					<constraints>
						<options>
							<option>Upper Left</option>
							<option>Upper Right</option>
							<option>Lower Left</option>
							<option>Lower Right</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu1_screen_size_mult" type="string" label="30044">
					<level>0</level>
					<default>1x</default>
					<constraints>
						<options>
							<option>1x</option>
							<option>2x</option>
							<option>3x</option>
							<option>4x</option>
							<option>5x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu1_pixel_on_color" type="string" label="30045">
					<level>0</level>
					<default>DEFAULT_ON 00</default>
					<constraints>
						<options>
							<option label="30115">DEFAULT_ON 00</option>
							<option label="30116">DEFAULT_OFF 01</option>
							<option label="30117">BLACK 02</option>
							<option label="30118">BLUE 03</option>
							<option label="30119">LIGHT_BLUE 04</option>
							<option label="30120">GREEN 05</option>
							<option label="30121">CYAN 06</option>
							<option label="30122">CYAN_BLUE 07</option>
							<option label="30123">LIGHT_GREEN 08</option>
							<option label="30124">CYAN_GREEN 09</option>
							<option label="30125">LIGHT_CYAN 10</option>
							<option label="30126">RED 11</option>
							<option label="30127">PURPLE 12</option>
							<option label="30128">LIGHT_PURPLE 13</option>
							<option label="30129">YELLOW 14</option>
							<option label="30130">GRAY 15</option>
							<option label="30131">LIGHT_PURPLE_2 16</option>
							<option label="30132">LIGHT_GREEN_2 17</option>
							<option label="30133">LIGHT_GREEN_3 18</option>
							<option label="30134">LIGHT_CYAN_2 19</option>
							<option label="30135">LIGHT_RED_2 20</option>
							<option label="30136">MAGENTA 21</option>
							<option label="30137">LIGHT_PURPLE_3 22</option>
							<option label="30138">LIGHT_ORANGE 23</option>
							<option label="30139">ORANGE 24</option>
							<option label="30140">LIGHT_PURPLE_4 25</option>
							<option label="30141">LIGHT_YELLOW 26</option>
							<option label="30142">LIGHT_YELLOW_2 27</option>
							<option label="30143">WHITE 28</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu1_pixel_off_color" type="string" label="30046">
					<level>0</level>
					<default>DEFAULT_OFF 01</default>
					<constraints>
						<options>
							<option label="30116">DEFAULT_OFF 01</option>
							<option label="30115">DEFAULT_ON 00</option>
							<option label="30117">BLACK 02</option>
							<option label="30118">BLUE 03</option>
							<option label="30119">LIGHT_BLUE 04</option>
							<option label="30120">GREEN 05</option>
							<option label="30121">CYAN 06</option>
							<option label="30122">CYAN_BLUE 07</option>
							<option label="30123">LIGHT_GREEN 08</option>
							<option label="30124">CYAN_GREEN 09</option>
							<option label="30125">LIGHT_CYAN 10</option>
							<option label="30126">RED 11</option>
							<option label="30127">PURPLE 12</option>
							<option label="30128">LIGHT_PURPLE 13</option>
							<option label="30129">YELLOW 14</option>
							<option label="30130">GRAY 15</option>
							<option label="30131">LIGHT_PURPLE_2 16</option>
							<option label="30132">LIGHT_GREEN_2 17</option>
							<option label="30133">LIGHT_GREEN_3 18</option>
							<option label="30134">LIGHT_CYAN_2 19</option>
							<option label="30135">LIGHT_RED_2 20</option>
							<option label="30136">MAGENTA 21</option>
							<option label="30137">LIGHT_PURPLE_3 22</option>
							<option label="30138">LIGHT_ORANGE 23</option>
							<option label="30139">ORANGE 24</option>
							<option label="30140">LIGHT_PURPLE_4 25</option>
							<option label="30141">LIGHT_YELLOW 26</option>
							<option label="30142">LIGHT_YELLOW_2 27</option>
							<option label="30143">WHITE 28</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu1_screen_opacity" type="string" label="30047">
					<level>0</level>
					<default>100%</default>
					<constraints>
						<options>
							<option>10%</option>
							<option>20%</option>
							<option>30%</option>
							<option>40%</option>
							<option>50%</option>
							<option>60%</option>
							<option>70%</option>
							<option>80%</option>
							<option>90%</option>
							<option>100%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu2_screen_display" type="string" label="30048">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu2_screen_position" type="string" label="30049">
					<level>0</level>
					<default>Upper Left</default>
					<constraints>
						<options>
							<option>Upper Left</option>
							<option>Upper Right</option>
							<option>Lower Left</option>
							<option>Lower Right</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu2_screen_size_mult" type="string" label="30050">
					<level>0</level>
					<default>1x</default>
					<constraints>
						<options>
							<option>1x</option>
							<option>2x</option>
							<option>3x</option>
							<option>4x</option>
							<option>5x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu2_pixel_on_color" type="string" label="30051">
					<level>0</level>
					<default>DEFAULT_ON 00</default>
					<constraints>
						<options>
							<option label="30115">DEFAULT_ON 00</option>
							<option label="30116">DEFAULT_OFF 01</option>
							<option label="30117">BLACK 02</option>
							<option label="30118">BLUE 03</option>
							<option label="30119">LIGHT_BLUE 04</option>
							<option label="30120">GREEN 05</option>
							<option label="30121">CYAN 06</option>
							<option label="30122">CYAN_BLUE 07</option>
							<option label="30123">LIGHT_GREEN 08</option>
							<option label="30124">CYAN_GREEN 09</option>
							<option label="30125">LIGHT_CYAN 10</option>
							<option label="30126">RED 11</option>
							<option label="30127">PURPLE 12</option>
							<option label="30128">LIGHT_PURPLE 13</option>
							<option label="30129">YELLOW 14</option>
							<option label="30130">GRAY 15</option>
							<option label="30131">LIGHT_PURPLE_2 16</option>
							<option label="30132">LIGHT_GREEN_2 17</option>
							<option label="30133">LIGHT_GREEN_3 18</option>
							<option label="30134">LIGHT_CYAN_2 19</option>
							<option label="30135">LIGHT_RED_2 20</option>
							<option label="30136">MAGENTA 21</option>
							<option label="30137">LIGHT_PURPLE_3 22</option>
							<option label="30138">LIGHT_ORANGE 23</option>
							<option label="30139">ORANGE 24</option>
							<option label="30140">LIGHT_PURPLE_4 25</option>
							<option label="30141">LIGHT_YELLOW 26</option>
							<option label="30142">LIGHT_YELLOW_2 27</option>
							<option label="30143">WHITE 28</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu2_pixel_off_color" type="string" label="30052">
					<level>0</level>
					<default>DEFAULT_OFF 01</default>
					<constraints>
						<options>
							<option label="30116">DEFAULT_OFF 01</option>
							<option label="30115">DEFAULT_ON 00</option>
							<option label="30117">BLACK 02</option>
							<option label="30118">BLUE 03</option>
							<option label="30119">LIGHT_BLUE 04</option>
							<option label="30120">GREEN 05</option>
							<option label="30121">CYAN 06</option>
							<option label="30122">CYAN_BLUE 07</option>
							<option label="30123">LIGHT_GREEN 08</option>
							<option label="30124">CYAN_GREEN 09</option>
							<option label="30125">LIGHT_CYAN 10</option>
							<option label="30126">RED 11</option>
							<option label="30127">PURPLE 12</option>
							<option label="30128">LIGHT_PURPLE 13</option>
							<option label="30129">YELLOW 14</option>
							<option label="30130">GRAY 15</option>
							<option label="30131">LIGHT_PURPLE_2 16</option>
							<option label="30132">LIGHT_GREEN_2 17</option>
							<option label="30133">LIGHT_GREEN_3 18</option>
							<option label="30134">LIGHT_CYAN_2 19</option>
							<option label="30135">LIGHT_RED_2 20</option>
							<option label="30136">MAGENTA 21</option>
							<option label="30137">LIGHT_PURPLE_3 22</option>
							<option label="30138">LIGHT_ORANGE 23</option>
							<option label="30139">ORANGE 24</option>
							<option label="30140">LIGHT_PURPLE_4 25</option>
							<option label="30141">LIGHT_YELLOW 26</option>
							<option label="30142">LIGHT_YELLOW_2 27</option>
							<option label="30143">WHITE 28</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu2_screen_opacity" type="string" label="30053">
					<level>0</level>
					<default>100%</default>
					<constraints>
						<options>
							<option>10%</option>
							<option>20%</option>
							<option>30%</option>
							<option>40%</option>
							<option>50%</option>
							<option>60%</option>
							<option>70%</option>
							<option>80%</option>
							<option>90%</option>
							<option>100%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu3_screen_display" type="string" label="30054">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu3_screen_position" type="string" label="30055">
					<level>0</level>
					<default>Upper Left</default>
					<constraints>
						<options>
							<option>Upper Left</option>
							<option>Upper Right</option>
							<option>Lower Left</option>
							<option>Lower Right</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu3_screen_size_mult" type="string" label="30056">
					<level>0</level>
					<default>1x</default>
					<constraints>
						<options>
							<option>1x</option>
							<option>2x</option>
							<option>3x</option>
							<option>4x</option>
							<option>5x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu3_pixel_on_color" type="string" label="30057">
					<level>0</level>
					<default>DEFAULT_ON 00</default>
					<constraints>
						<options>
							<option label="30115">DEFAULT_ON 00</option>
							<option label="30116">DEFAULT_OFF 01</option>
							<option label="30117">BLACK 02</option>
							<option label="30118">BLUE 03</option>
							<option label="30119">LIGHT_BLUE 04</option>
							<option label="30120">GREEN 05</option>
							<option label="30121">CYAN 06</option>
							<option label="30122">CYAN_BLUE 07</option>
							<option label="30123">LIGHT_GREEN 08</option>
							<option label="30124">CYAN_GREEN 09</option>
							<option label="30125">LIGHT_CYAN 10</option>
							<option label="30126">RED 11</option>
							<option label="30127">PURPLE 12</option>
							<option label="30128">LIGHT_PURPLE 13</option>
							<option label="30129">YELLOW 14</option>
							<option label="30130">GRAY 15</option>
							<option label="30131">LIGHT_PURPLE_2 16</option>
							<option label="30132">LIGHT_GREEN_2 17</option>
							<option label="30133">LIGHT_GREEN_3 18</option>
							<option label="30134">LIGHT_CYAN_2 19</option>
							<option label="30135">LIGHT_RED_2 20</option>
							<option label="30136">MAGENTA 21</option>
							<option label="30137">LIGHT_PURPLE_3 22</option>
							<option label="30138">LIGHT_ORANGE 23</option>
							<option label="30139">ORANGE 24</option>
							<option label="30140">LIGHT_PURPLE_4 25</option>
							<option label="30141">LIGHT_YELLOW 26</option>
							<option label="30142">LIGHT_YELLOW_2 27</option>
							<option label="30143">WHITE 28</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu3_pixel_off_color" type="string" label="30058">
					<level>0</level>
					<default>DEFAULT_OFF 01</default>
					<constraints>
						<options>
							<option label="30116">DEFAULT_OFF 01</option>
							<option label="30115">DEFAULT_ON 00</option>
							<option label="30117">BLACK 02</option>
							<option label="30118">BLUE 03</option>
							<option label="30119">LIGHT_BLUE 04</option>
							<option label="30120">GREEN 05</option>
							<option label="30121">CYAN 06</option>
							<option label="30122">CYAN_BLUE 07</option>
							<option label="30123">LIGHT_GREEN 08</option>
							<option label="30124">CYAN_GREEN 09</option>
							<option label="30125">LIGHT_CYAN 10</option>
							<option label="30126">RED 11</option>
							<option label="30127">PURPLE 12</option>
							<option label="30128">LIGHT_PURPLE 13</option>
							<option label="30129">YELLOW 14</option>
							<option label="30130">GRAY 15</option>
							<option label="30131">LIGHT_PURPLE_2 16</option>
							<option label="30132">LIGHT_GREEN_2 17</option>
							<option label="30133">LIGHT_GREEN_3 18</option>
							<option label="30134">LIGHT_CYAN_2 19</option>
							<option label="30135">LIGHT_RED_2 20</option>
							<option label="30136">MAGENTA 21</option>
							<option label="30137">LIGHT_PURPLE_3 22</option>
							<option label="30138">LIGHT_ORANGE 23</option>
							<option label="30139">ORANGE 24</option>
							<option label="30140">LIGHT_PURPLE_4 25</option>
							<option label="30141">LIGHT_YELLOW 26</option>
							<option label="30142">LIGHT_YELLOW_2 27</option>
							<option label="30143">WHITE 28</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu3_screen_opacity" type="string" label="30059">
					<level>0</level>
					<default>100%</default>
					<constraints>
						<options>
							<option>10%</option>
							<option>20%</option>
							<option>30%</option>
							<option>40%</option>
							<option>50%</option>
							<option>60%</option>
							<option>70%</option>
							<option>80%</option>
							<option>90%</option>
							<option>100%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu4_screen_display" type="string" label="30060">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu4_screen_position" type="string" label="30061">
					<level>0</level>
					<default>Upper Left</default>
					<constraints>
						<options>
							<option>Upper Left</option>
							<option>Upper Right</option>
							<option>Lower Left</option>
							<option>Lower Right</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu4_screen_size_mult" type="string" label="30062">
					<level>0</level>
					<default>1x</default>
					<constraints>
						<options>
							<option>1x</option>
							<option>2x</option>
							<option>3x</option>
							<option>4x</option>
							<option>5x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu4_pixel_on_color" type="string" label="30063">
					<level>0</level>
					<default>DEFAULT_ON 00</default>
					<constraints>
						<options>
							<option label="30115">DEFAULT_ON 00</option>
							<option label="30116">DEFAULT_OFF 01</option>
							<option label="30117">BLACK 02</option>
							<option label="30118">BLUE 03</option>
							<option label="30119">LIGHT_BLUE 04</option>
							<option label="30120">GREEN 05</option>
							<option label="30121">CYAN 06</option>
							<option label="30122">CYAN_BLUE 07</option>
							<option label="30123">LIGHT_GREEN 08</option>
							<option label="30124">CYAN_GREEN 09</option>
							<option label="30125">LIGHT_CYAN 10</option>
							<option label="30126">RED 11</option>
							<option label="30127">PURPLE 12</option>
							<option label="30128">LIGHT_PURPLE 13</option>
							<option label="30129">YELLOW 14</option>
							<option label="30130">GRAY 15</option>
							<option label="30131">LIGHT_PURPLE_2 16</option>
							<option label="30132">LIGHT_GREEN_2 17</option>
							<option label="30133">LIGHT_GREEN_3 18</option>
							<option label="30134">LIGHT_CYAN_2 19</option>
							<option label="30135">LIGHT_RED_2 20</option>
							<option label="30136">MAGENTA 21</option>
							<option label="30137">LIGHT_PURPLE_3 22</option>
							<option label="30138">LIGHT_ORANGE 23</option>
							<option label="30139">ORANGE 24</option>
							<option label="30140">LIGHT_PURPLE_4 25</option>
							<option label="30141">LIGHT_YELLOW 26</option>
							<option label="30142">LIGHT_YELLOW_2 27</option>
							<option label="30143">WHITE 28</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu4_pixel_off_color" type="string" label="30064">
					<level>0</level>
					<default>DEFAULT_OFF 01</default>
					<constraints>
						<options>
							<option label="30116">DEFAULT_OFF 01</option>
							<option label="30115">DEFAULT_ON 00</option>
							<option label="30117">BLACK 02</option>
							<option label="30118">BLUE 03</option>
							<option label="30119">LIGHT_BLUE 04</option>
							<option label="30120">GREEN 05</option>
							<option label="30121">CYAN 06</option>
							<option label="30122">CYAN_BLUE 07</option>
							<option label="30123">LIGHT_GREEN 08</option>
							<option label="30124">CYAN_GREEN 09</option>
							<option label="30125">LIGHT_CYAN 10</option>
							<option label="30126">RED 11</option>
							<option label="30127">PURPLE 12</option>
							<option label="30128">LIGHT_PURPLE 13</option>
							<option label="30129">YELLOW 14</option>
							<option label="30130">GRAY 15</option>
							<option label="30131">LIGHT_PURPLE_2 16</option>
							<option label="30132">LIGHT_GREEN_2 17</option>
							<option label="30133">LIGHT_GREEN_3 18</option>
							<option label="30134">LIGHT_CYAN_2 19</option>
							<option label="30135">LIGHT_RED_2 20</option>
							<option label="30136">MAGENTA 21</option>
							<option label="30137">LIGHT_PURPLE_3 22</option>
							<option label="30138">LIGHT_ORANGE 23</option>
							<option label="30139">ORANGE 24</option>
							<option label="30140">LIGHT_PURPLE_4 25</option>
							<option label="30141">LIGHT_YELLOW 26</option>
							<option label="30142">LIGHT_YELLOW_2 27</option>
							<option label="30143">WHITE 28</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_vmu4_screen_opacity" type="string" label="30065">
					<level>0</level>
					<default>100%</default>
					<constraints>
						<options>
							<option>10%</option>
							<option>20%</option>
							<option>30%</option>
							<option>40%</option>
							<option>50%</option>
							<option>60%</option>
							<option>70%</option>
							<option>80%</option>
							<option>90%</option>
							<option>100%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="hacks" label="30144" help="30145">
			<group id="1">
				<setting id="reicast_widescreen_hack" type="string" label="30012">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="reicast_widescreen_cheats" type="string" label="30013" help="30146">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
